/* organism styles go here */
.organism-wrapper {
    display: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.organism-wrapper .sidebar {
    width: 200px;
    height: 100%;
    background-color: #CCC;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}