:host {
  --star-rating-default: #ccc;
  --star-rating-active: #f90;
  --star-rating-hover: #fc0;
  --star-rating-size: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  text-align: center;
  width: var(
    --star-rating-width,
    calc(
      (var(--star-rating-size, 25px) * var(--star-rating-max, 5)) +
        var(--star-rating-spacing, -10px)
    )
  );
}

:host input {
  display: none;
}
:host > label {
  color: var(--star-rating-default, #fff);
  font-size: var(--star-rating-size, 25px);
  cursor: pointer;
}
:host .star-active {
  color: var(--star-rating-active, #f90);
}
:host:not(.is-disabled) label:hover,
:host:not(.is-disabled) label:hover ~ label {
  color: var(--star-rating-hover, #fc0);
}
